.switch_btn {
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size:  2rem;

    background-color: #fff;
    color: #25063f;
    border: none;
    border-radius: 50%;
}