:root {
  line-height: 1.2;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  text-transform: capitalize;
}
